<div class="container-fluid">
<div class="row">
<div class="col-md-8 col-md-offset-2 well">
<%= simple_form_for(@status, html: {class: "form-horizontal"}) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |message| %>
        <li class="alert alert-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <%= f.input :content %><br />
  <div class="control-group">
    <%= f.button :submit, class: "btn btn-primary" %>
    </div><br />
 
<% end %>
</div>
</div>
</div>